---
layout: null
---
<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>taihaijapan | 退廃ジャパン</title>
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/public/img/icon-192.png">
    <link rel="icon" href="{{ site.baseurl }}/public/img/icon-192.png">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link href="{{ site.baseurl }}/public/css/taihaijapan-0.7.1.min.css" rel="stylesheet">

    <meta property="og:title" content="Taihai Japan | 退廃ジャパン">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="taihaijapan">
    <meta property="og:description" content="A different view of Japan">
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/public/img/logo.jpg">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@danikaze"/>
    <meta name="twitter:creator" content="@danikaze" />
    <meta name="twitter:title" content="Taihai Japan | 退廃ジャパン" />
    <meta name="twitter:description" content="A different view of Japan"/>
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/public/img/logo.jpg"/>

  </head>
  <body id="page-index">

    <div id="header">
      <img id="logo" src="{{ site.baseurl }}/public/img/logo-L.png" width="1500" height="626">

      <div class="icons">
        <a href="http://bit.ly/2jadHu1"><img src="{{ site.baseurl }}/public/img/Facebook.png" alt="facebook" title="View Facebook page"></a>
        <a href="http://bit.ly/2kpfTi9"><img src="{{ site.baseurl }}/public/img/Instagram.png" alt="instagram" title="View more photos on Instagram"></a>
        <a href="http://bit.ly/2kJ8Bpp"><img src="{{ site.baseurl }}/public/img/Tumblr.png" alt="tumblr" title="View more photos on Tumblr"></a>
          <a href="{{ site.baseurl }}/gallery/"><img src="{{ site.baseurl }}/public/img/Gallery.png" alt="gallery" title="Go to the gallery"></a>
      </div>
    </div>


    <div id="bgImg"></div>
    <div id="bgDark"></div>

    <ul id="thumbnails">
        <li><a href="{{ site.baseurl }}/photo/sancha-in-the-rain/"><img src="{{ site.baseurl }}/public/photos/T/d9f8dfe16f2e206e.jpg" srcset="{{ site.baseurl }}/public/photos/T/d9f8dfe16f2e206e.jpg 400w 267h, {{ site.baseurl }}/public/photos/S/b1bf540e6af9c38d.jpg 720w 480h, {{ site.baseurl }}/public/photos/M/373b8a9fb51f9117.jpg 1280w 853h, {{ site.baseurl }}/public/photos/L/54ca3171c813b8b9.jpg 2000w 1333h" alt="sancha-in-the-rain"></a></li>
        <li><a href="{{ site.baseurl }}/photo/pachinko/"><img src="{{ site.baseurl }}/public/photos/T/e1c168feaf9dff18.jpg" srcset="{{ site.baseurl }}/public/photos/T/e1c168feaf9dff18.jpg 400w 267h, {{ site.baseurl }}/public/photos/S/d0bcfc2c10f599d3.jpg 720w 480h, {{ site.baseurl }}/public/photos/M/b33b3e5934462d36.jpg 1280w 853h, {{ site.baseurl }}/public/photos/L/516875ae8e70ff71.jpg 2000w 1333h" alt="pachinko"></a></li>
        <li><a href="{{ site.baseurl }}/photo/nuka-cola/"><img src="{{ site.baseurl }}/public/photos/T/a5388247b16f5489.jpg" srcset="{{ site.baseurl }}/public/photos/T/a5388247b16f5489.jpg 400w 267h, {{ site.baseurl }}/public/photos/S/ed4aa2bba4b8706e.jpg 720w 480h, {{ site.baseurl }}/public/photos/M/29599fceae6082c1.jpg 1280w 853h, {{ site.baseurl }}/public/photos/L/c3dee051813e134c.jpg 2000w 1333h" alt="nuka-cola"></a></li>
        <li><a href="{{ site.baseurl }}/photo/golden-gai-hima-tsubushi/"><img src="{{ site.baseurl }}/public/photos/T/a63d4be7f56f992a.jpg" srcset="{{ site.baseurl }}/public/photos/T/a63d4be7f56f992a.jpg 400w 267h, {{ site.baseurl }}/public/photos/S/a4377092936a7d0c.jpg 720w 480h, {{ site.baseurl }}/public/photos/M/782a63b0bf56c072.jpg 1280w 853h, {{ site.baseurl }}/public/photos/L/43f0930b21a2897a.jpg 2000w 1333h" alt="golden-gai-hima-tsubushi"></a></li>
        <li><a href="{{ site.baseurl }}/photo/umeda-building-stairs-to-heaven/"><img src="{{ site.baseurl }}/public/photos/T/435cd933b0bd8a1d.jpg" srcset="{{ site.baseurl }}/public/photos/T/435cd933b0bd8a1d.jpg 400w 267h, {{ site.baseurl }}/public/photos/S/0e10f1377b8c9fd7.jpg 720w 480h, {{ site.baseurl }}/public/photos/M/4b87a2909f898c2e.jpg 1280w 853h, {{ site.baseurl }}/public/photos/L/b57a9949b7947e31.jpg 2000w 1333h" alt="umeda-building-stairs-to-heaven"></a></li>
    </ul>

    <a id="viewMore" href="{{ site.baseurl }}/gallery/">View more</a>

</body>
</html>
